<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head data-th-replace="~{/layouts/header :: head}"></head>

<body>

	<footer class="bg-dark container text-secondary my-3 px-0">
		<div class="row p-5">
			<div class="col-12 col-md-4">
				<h4 class="text-light">FACULTAD DE INGENIERÍA - UNJu</h4>
				<ul class="list-unstyled">
					<li class="my-2 text-light">Ítalo Palanca Nº 10</li>
					<li class="my-2 text-light">San Salvador de Jujuy Jujuy -
						Argentina</li>

					<li class="my-2"><a href="mailto:info@fi.unju.edu.ar"
						class="link-info link-opacity-75-hover link-underline-opacity-0">info@fi.unju.edu.ar</a>
					</li>
				</ul>
				<div>
					<h4 class="text-light border-bottom pb-3">Aviso Legal</h4>
					<ul class="list-unstyled">
						<li class="my-2"><a href="#"
							class="link-light link-opacity-75-hover link-underline-opacity-0">Términos
								y Condiciones</a></li>

						<li class="my-2"><a href="#"
							class="link-light link-opacity-75-hover link-underline-opacity-0">Condiciones
								de uso del Correo Electrónico</a></li>
					</ul>
				</div>
			</div>
			<div class="col-12 col-md-4">
				<h4 class="text-light border-bottom pb-3">Redes Sociales</h4>

				<ul class="list-unstyled">
					<li class="my-2"><a target="_blank"
						href="https://www.facebook.com/fiunju/"
						class="link-light link-opacity-75-hover link-underline-opacity-0">
							Facebook </a></li>
					<li class="my-2"><a target="_blank"
						href="https://www.youtube.com/channel/UCgS9XJlKKSYI1oJ4lIOo77A"
						class="link-light link-opacity-75-hover link-underline-opacity-0">
							YouTube </a></li>
					<li class="my-2"><a target="_blank"
						href="https://www.linkedin.com/school/facultad-de-ingenieria-unju"
						class="link-light link-opacity-75-hover link-underline-opacity-0">
							Linkedin </a></li>
					<li class="my-2"><a target="_blank"
						href="https://www.instagram.com/fiunju/"
						class="link-light link-opacity-75-hover link-underline-opacity-0">
							Instagram </a></li>
				</ul>
			</div>
			<div class="col-12 col-md-4">
				<h4 class="text-light border-bottom pb-3">Enlaces de Interés</h4>
				<ul class="list-unstyled">
					<li class="my-2"><a href="#"
						class="link-light link-opacity-75-hover link-underline-opacity-0">
							Teléfonos </a></li>
					<li class="my-2"><a href="#"
						class="link-light link-opacity-75-hover link-underline-opacity-0">
							Modelos de Notas </a></li>
					<li class="my-2"><a target="_blank"
						href="https://alumnos.unju.edu.ar/unju/"
						class="link-light link-opacity-75-hover link-underline-opacity-0">
							SIU Guaraní </a></li>
					<li class="my-2"><a target="_blank"
						href="http://campus.fi.unju.edu.ar/"
						class="link-light link-opacity-75-hover link-underline-opacity-0">
							Campus FI </a></li>
					<li class="my-2"><a href="#"
						class="link-light link-opacity-75-hover link-underline-opacity-0">
							Protocolos de Bioseguridad </a></li>
					<li class="my-2"><a target="_blank"
						href="https://di3.fi.unju.edu.ar/"
						class="link-light link-opacity-75-hover link-underline-opacity-0">
							Doctorado en Ingeniería Industrial </a></li>
					<li class="my-2"><a href="#"
						class="link-light link-opacity-75-hover link-underline-opacity-0">
							Doctorado en Alimentos </a></li>
					<li class="my-2"><a target="_blank"
						href="http://www.codinoa.edu.ar/"
						class="link-light link-opacity-75-hover link-underline-opacity-0">
							CODINOA </a></li>
					<li class="my-2"><a target="_blank"
						href="http://www.becas.unju.edu.ar/"
						class="link-light link-opacity-75-hover link-underline-opacity-0">
							Becas UNJu </a></li>
					<li class="my-2"><a target="_blank"
						href="http://www.unju.edu.ar/sibunju/conssibunju.html"
						class="link-light link-opacity-75-hover link-underline-opacity-0">
							Sistema de Bibliotecas de la UNJu </a></li>
					<li class="my-2"><a href="#"
						class="link-light link-opacity-75-hover link-underline-opacity-0">
							Biblioteca Electrónica C y T </a></li>
				</ul>
			</div>
		</div>
		<div class="text-bg-dark border-top border-secondary text-center">
			<p class="p-3">Copyright © 2014-2022 - Facultad de Ingeniería -
				UNJu</p>
		</div>
	</footer>

</body>
</html>