<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head th:fragment="head">

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title data-th-text="${titulo}"></title>
<link th:rel="stylesheet"
	th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
<script type="text/javascript"
	th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</head>

<body>
	<header class="container shadow-sm">
		<nav class="navbar navbar-expand-lg navbar-light">
			<div class="container">
				<a class="navbar-brand w-75" href="#"><img
					src="/imgs/fiLogo.png" alt="logo de la Facultad de ingeniería" />
				</a>

				<button class="navbar-toggler" type="button"
					data-bs-toggle="collapse" data-bs-target="#navbarNav"
					aria-controls="navbarNav" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav ms-auto">
						<li class="nav-item"><a class="nav-link active"
							aria-current="page" data-th-href="@{/}">Inicio</a></li>
						<li class="nav-item"><a class="nav-link" data-th-href="@{/alumno/lista}">Alumnos</a>
						</li>
						<li class="nav-item"><a class="nav-link" data-th-href="@{/docente/lista}">Docentes</a>
						</li>
						<li class="nav-item"><a class="nav-link" data-th-href="@{/materia/lista}">Materias</a>
						</li>
						<li class="nav-item"><a class="nav-link" data-th-href="@{/carrera/listado}">Carreras</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<hgroup class="text-center">
			<h5 class="text-secondary">Flammam Tvam Hoc Foco Accende lat.
				"Enciende tu antorcha en este fuego"</h5>
		</hgroup>
	</header>

</body>
</html>